/* Global Styles */



a {
  text-decoration: none;
  color: inherit;
}

/* v Remove User Agent Styles ^ */

button {
  background: none;
  font-family: "Lexend", sans-serif;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* New Font */

@font-face {
  font-family: "Lexend", sans-serif;

}

/* Background Color And Set Font And Margin */

body {
  background-color: #000000;
  color: white;
  font-family: "Lexend", sans-serif;
  margin: 0;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  overflow: hidden auto;
}




/* Headers */

h1 {
  text-align: center;
  text-shadow: 2px 1px var(--theme-clr);
  font-size: 2.75rem;
  font-weight: normal;
}

/* Paragraph */

p {
  width: min(100%, 65ch);
  font-size: 1.25rem;
  text-align: center;
  margin-inline: auto;
  text-shadow: 2px 1px var(--theme-clr);
}

p abbr[title] {
  text-decoration: underline;
}

p s {
  text-decoration-color: var(--theme-clr);
}

i[class^="fa"] {
  width: 1.25em;
}
